.card-dashboard-product {
  margin-bottom: 15px;

  .product-title {
    font-size: 18px;
    line-height: 27px;
    color: #0c0d36;
  }

  .product-category {
    font-size: 16px;
    line-height: 24px;
    color: #c5c5c5;
  }
}
